// Змінні
$back-color: rgb(199, 112, 14);
$btn-color: rgb(202, 62, 20);
$secondary-color: rgb(26, 24, 24);
$border-color: rgb(255, 255, 255);
$hover-color: rgb(75, 45, 12);
$text-color: rgb(255, 255, 255);
$button-padding: 10px 20px;
$font-size-large: 1.2rem;
$font-size-medium: 1rem;
.large-img {
	border-radius: 10px;
	display: flex;
	position: fixed;
	flex-direction: column;
	top: 20%;
	z-index: 2;
	left: 24.5%;
	width: 50%;
	height: 70%;
	visibility: hidden;

	#close-button-modal {
		z-index: 2;
		background-color: $back-color;
		width: 100%;
		position: absolute;
		align-self: flex-end;
		top: 0;
		opacity: 0;
		visibility: hidden;
		transition:
			opacity 0.5s linear,
			visibility 0.5s linear;
		&:hover {
			background-color: black;
		}
	}
	.conteiner-large {
		display: flex;
		width: 100%;
		height: 40px;
		background: rgba(0, 0, 0, 0.8);
		justify-content: center;
		align-items: center;
		visibility: hidden;

		transition:
			visibility 0.3s linear,
			height 0.3s linear;
		z-index: -1;
		& img {
			max-width: 80%;
			max-height: 80%;
			border-radius: 10px;
			box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
		}
	}
	&.active {
		visibility: visible;
		#close-button-modal {
			opacity: 1;
			visibility: visible;
		}
		.conteiner-large {
			visibility: visible;
			z-index: 1;
			height: 100%;
		}
	}
}
.conteiner-save-name {
	color: $text-color;
	display: flex;
	position: fixed;
	background: rgba(0, 0, 0, 0.6);
	justify-content: center;
	align-items: center;
	z-index: 2;
	width: 100%;
	height: 100%;
	visibility: hidden;

	.conteiner-input-btn {
		display: flex;
		flex-direction: column;
		background-color: $secondary-color;
		height: 200px;
		width: 500px;
		justify-content: center;
		align-items: center;
		p {
			font-size: 1.5rem;
			margin-bottom: 10px;
		}
		& input {
			width: 300px;
			height: 30px;
			margin-bottom: 10px;
		}
		button {
			border: 1px solid white;
		}
	}
	&.active {
		visibility: visible;
	}
}
.conteiner-confirm {
	color: $text-color;
	display: flex;
	position: fixed;
	background: rgba(0, 0, 0, 0.6);
	justify-content: center;
	align-items: center;
	z-index: 2;
	width: 100%;
	height: 100%;
	visibility: hidden;
	&.active {
		visibility: visible;
	}
	.block_info-confirm {
		background-color: $secondary-color;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-self: center;
		width: 500px;
		height: 300px;
		border-radius: 10px;
		border: 2px solid white;
		h2 {
			width: 100%;
			display: block;
			padding-top: 10px;
			padding-bottom: 10px;
			text-align: center;
			font-size: 1.5rem;

			border-bottom: 2px solid white;
			border-top-right-radius: 10px;
			border-top-left-radius: 10px;
		}
		p {
			font-size: 1.3rem;
			margin: 0 10px;
		}
		.block-choice {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 10px;
			border-top: 2px solid white;
			height: 69px;
			border-bottom-right-radius: 10px;
			border-bottom-left-radius: 10px;

			button {
				background-color: $btn-color;
				justify-content: center;
				width: 40%;
				height: 50px;
				box-shadow:
					0 6px 15px rgba(255, 255, 255, 0.2),
					0 1px 3px rgba(255, 255, 255, 0.12); /* Тінь для 3D ефекту */
				border: 1px solid rgb(0, 0, 0);
				&:active {
					transform: translateY(2px); /* Зменшення кнопки вниз, як ефект натискання */
					box-shadow:
						0 4px 10px rgba(0, 0, 0, 0.2),
						0 2px 5px rgba(0, 0, 0, 0.1); /* Тінь зменшується, коли кнопка натискається */
				}
				&:hover {
					background-color: rgba(202, 62, 20, 0.4);
				}
			}
		}
	}
}
// Main
.main {
	margin-top: 30px;
}

// Drawing Container
.drawing-container {
	height: 100%;
	width: 100%;
	margin: 0 auto;

	.conteiner__draw_exam {
		display: flex;

		.drawing-container1 {
			margin: 0 auto;
			border: 2px solid #333;
			border-right: 4px solid #333;
			border-bottom: 4px solid #333;
			width: 50%;
			height: 700px;
			overflow: hidden;

			position: relative;
		}
		#drawingCanvas {
			position: absolute;
			border: 1px solid #ccc;
			background-color: white;
			cursor: url("/img/голка_white.svg"), crosshair;
			width: 950px;
			height: 100%;
		}
		.conteiner__example {
			border: 1px solid $border-color;
			position: relative;
			width: 21%;
			height: 700px;
			background-color: $secondary-color;
			align-items: center;
			display: flex;
			flex-direction: column;
		}
		.container__draw_real {
			padding-bottom: 10px;
			border-bottom: 2px $border-color solid;
		}
		p {
			color: $text-color;
			font-size: 2rem;
			margin-bottom: 5px;
		}
		.examples {
			border-top: 1px $border-color solid;
			text-align: center;
			margin-top: 20px;
		}
		.conteiner__result {
			display: flex;
			align-items: center;
		}
		.conteiner-imagen {
			transition: all 0.2s ease-in-out;
			&:hover {
				box-shadow: 0px 5px 20px 10px rgba(255, 255, 255, 0.3);
			}
			position: relative;
			background-color: white;
			width: max-content;
			height: max-content;
			margin-left: 5px;
			margin-right: 5px;

			._icon-increase {
				border-radius: 0;
				align-items: start;
				padding: 5px;
				font-size: 1rem;
				background-color: white;
				color: #000000;
				width: 100%;
				&:hover {
					background-color: $back-color;
				}
			}
		}

		.example_draw {
			margin: 5px;
			width: 100px;
			height: 82px;
			background-color: white;
			border: 1px solid black;
		}
		.example_real {
			margin: 5px;
			width: 100px;
			height: 82px;
			background-color: white;
			border: 1px solid black;
			transition: all 0.2s ease-in-out;
			&:hover {
				box-shadow: 0 1px 20px rgba(255, 255, 255, 0.3);
			}
		}
		.first_con {
			margin-left: 2%;
			color: $text-color;
		}
		.second_con {
			margin-right: 2%;
		}
		.small__container-example {
			display: none;
		}
	}
}
// Controls
.controls {
	margin: 10px;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	#colorPicker {
		display: block;

		border: none;
		border-radius: 5px;
		box-sizing: border-box;
		width: 500px;
		max-width: 100%;
		height: 65px;
		background-color: $back-color;
		margin: 10px;
		&:hover {
			border-color: #aaa;
		}

		&:focus {
			outline: none;
			box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
		}
	}

	#fillButton {
		background-color: $secondary-color;
		border: 3px solid rgb(0, 0, 0);
		box-shadow:
			0 6px 15px rgba(0, 0, 0, 0.2),
			0 1px 3px rgba(0, 0, 0, 0.12); /* Тінь для 3D ефекту */
		transition: all 0.3s ease-in-out; /* Плавний перехід */
		&:hover {
			background-color: $hover-color;
		}
		&.active {
			color: $text-color;
			background-color: $back-color;
			border: 1px solid $border-color;
		}
		&:active {
			transform: translateY(4px); /* Зменшення кнопки вниз, як ефект натискання */
			box-shadow:
				0 4px 10px rgba(0, 0, 0, 0.2),
				0 2px 5px rgba(0, 0, 0, 0.1); /* Тінь зменшується, коли кнопка натискається */
		}
	}

	#draggingButton {
		background-color: $secondary-color;
		border: 3px solid rgb(0, 0, 0);
		box-shadow:
			0 6px 15px rgba(0, 0, 0, 0.2),
			0 1px 3px rgba(0, 0, 0, 0.12); /* Тінь для 3D ефекту */
		transition: all 0.3s ease-in-out; /* Плавний перехід */
		&:hover {
			background-color: $hover-color;
		}
		&.active {
			color: $text-color;
			background-color: $back-color;
			border: 1px solid $border-color;
		}
		&:active {
			transform: translateY(4px); /* Зменшення кнопки вниз, як ефект натискання */
			box-shadow:
				0 4px 10px rgba(0, 0, 0, 0.2),
				0 2px 5px rgba(0, 0, 0, 0.1); /* Тінь зменшується, коли кнопка натискається */
		}
	}

	#con__width {
		color: $text-color;
		font-size: 1.2rem;
		display: block;
		border: 3px solid #000000;
		border-radius: 5px;
		box-sizing: border-box;
		width: 100%;
		max-width: 100%;
		margin: 10px;
		background-color: rgb(39, 36, 36);
		box-shadow:
			0 6px 15px rgba(0, 0, 0, 0.2),
			0 1px 3px rgba(0, 0, 0, 0.12);
	}
	/* Стилі для самого повзунка */
	input[type="range"] {
		margin-top: 10px;
		-webkit-appearance: none;
		appearance: none;
		width: 100%;
		height: 12px;
		background: linear-gradient(to right, rgb(224, 224, 224), $back-color);
		border-radius: 5px;
		outline: none;
		cursor: pointer;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
		transition:
			background-color 0.3s ease,
			box-shadow 0.3s ease;
		/* Для Firefox */
		&::-moz-range-thumb &::-ms-thumb {
			width: 24px;
			height: 24px;
			background: #fff;
			border: 2px solid rgb(121, 85, 81);
			border-radius: 50%;
			cursor: pointer;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
		}
		&::-webkit-slider-thumb:hover {
			background: rgb(59, 37, 34);
			transform: scale(1.2);
		}
	}

	input[type="range"]:hover {
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	}

	/* Стилі для кнопки (thumb) */
	input[type="range"]::-webkit-slider-thumb {
		-webkit-appearance: none;
		appearance: none;
		width: 24px;
		height: 24px;
		background-color: #fff; /* Використовуємо background-color для фону */
		border: 2px solid rgb(121, 85, 81);
		border-radius: 50%;
		cursor: pointer;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
		transition:
			background-color 0.3s ease,
			transform 0.3s ease; /* Тепер правильно вказана властивість */
	}
	.tool {
		border: 3px solid rgb(0, 0, 0);
		box-shadow:
			0 6px 15px rgba(0, 0, 0, 0.2),
			0 1px 3px rgba(0, 0, 0, 0.12); /* Тінь для 3D ефекту */
		transition: all 0.3s ease-in-out; /* Плавний перехід */
		&.active {
			background-color: $back-color;
			border: 1px solid $border-color;
		}
		&:active {
			transform: translateY(4px); /* Зменшення кнопки вниз, як ефект натискання */
			box-shadow:
				0 4px 10px rgba(0, 0, 0, 0.2),
				0 2px 5px rgba(0, 0, 0, 0.1); /* Тінь зменшується, коли кнопка натискається */
		}
	}
}
// Buttons
button {
	font-size: $font-size-large;
	border-radius: 5px;
	padding: $button-padding;
	background-color: $secondary-color;
	color: $text-color;
	cursor: pointer;
	transition: background-color 0.3s ease;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	transition: background-color 0.2s linear;

	&:hover {
		background-color: $hover-color;
	}
}
.button {
	margin-top: 10px;
	box-shadow:
		0 6px 15px rgba(255, 255, 255, 0.2),
		0 1px 3px rgba(0, 0, 0, 0.9);
	border: 2px solid rgb(0, 0, 0);
	position: relative;
	background-color: rgb(39, 36, 36);
}
.tooltip {
	position: relative;
	border: 3px solid rgb(0, 0, 0);
	box-shadow:
		0 6px 15px rgba(0, 0, 0, 0.2),
		0 1px 3px rgba(0, 0, 0, 0.12); /* Тінь для 3D ефекту */
	transition: all 0.2s ease-in-out; /* Плавний перехід */
	&::after {
		content: attr(data-tooltip); // Витягуємо текст із атрибута data-tooltip
		position: absolute;
		bottom: 100%; // Відображення підказки над кнопкою
		left: 50%;
		transform: translateX(-50%);
		background-color: rgba(0, 0, 0, 0.8); // Чорний фон
		color: $text-color; // Білий текст
		padding: 5px 10px;
		border-radius: 5px;
		font-size: 12px;
		white-space: nowrap; // Текст не переноситься
		opacity: 0; // Спочатку підказка прихована
		visibility: hidden;
		transition:
			opacity 0.3s ease,
			visibility 0.3s ease;
		pointer-events: none; // Щоб підказка не заважала клікам
	}
	&:active {
		transform: translateY(4px); /* Зменшення кнопки вниз, як ефект натискання */
		box-shadow:
			0 4px 10px rgba(0, 0, 0, 0.2),
			0 2px 5px rgba(0, 0, 0, 0.1); /* Тінь зменшується, коли кнопка натискається */
	}
	&:hover::after {
		opacity: 1; // Відображення підказки при наведенні
		visibility: visible;
	}
}

.conteiner_scale_price {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.scale {
		position: relative;
		width: 50%;
		margin-left: 20px;
		font-size: 1.5rem;
		align-self: center;
		display: inline-block;
		.blocked_scale {
			display: none;
			&.active {
				display: flex;
				right: 52%;
				border-radius: 10px;
				background-color: rgb(0, 0, 0, 0.6);
				z-index: 2;
				position: absolute;
				width: 50%;
				height: 98%;
				align-items: center;
				justify-content: center;
			}
			.blocked-info {
				background-color: $btn-color;
				font-size: 1.2rem;
				width: 100px;
				height: 50px;
			}
		}
		.scale_size {
			position: relative;
		}
		.scale__type {
			position: relative;
		}
		[class^="size__btn"] {
			box-shadow:
				0 6px 15px rgba(255, 255, 255, 0.2),
				0 1px 3px rgba(255, 255, 255, 0.12); /* Тінь для 3D ефекту */
			border: 1px solid rgb(0, 0, 0);
			display: inline-block;
			font-size: 1.5rem;
			&.red-line {
				border: 1px solid red;
				animation: blinkBorder 1s infinite alternate;
			}
			&.active {
				background-color: $btn-color;
				color: $text-color;
			}
			&:active {
				transform: translateY(2px); /* Зменшення кнопки вниз, як ефект натискання */
				box-shadow:
					0 4px 10px rgba(0, 0, 0, 0.2),
					0 2px 5px rgba(0, 0, 0, 0.1); /* Тінь зменшується, коли кнопка натискається */
			}
			margin-bottom: 20px;
		}
		[class^="type__btn"] {
			box-shadow:
				0 6px 15px rgba(255, 255, 255, 0.2),
				0 1px 3px rgba(255, 255, 255, 0.12); /* Тінь для 3D ефекту */
			border: 1px solid rgb(0, 0, 0);
			display: inline-block;
			font-size: 1.5rem;

			&.red-line {
				border: 1px solid red;
				animation: blinkBorder 1s infinite alternate;
			}
			&:active {
				transform: translateY(2px); /* Зменшення кнопки вниз, як ефект натискання */
				box-shadow:
					0 4px 10px rgba(0, 0, 0, 0.2),
					0 2px 5px rgba(0, 0, 0, 0.1); /* Тінь зменшується, коли кнопка натискається */
			}
			&.active {
				background-color: $btn-color;
				color: $text-color;
			}
			margin-bottom: 20px;
		}

		p {
			font-size: 1.5rem;
			margin-bottom: 10px;
		}
	}
	.puffiness {
		margin-right: 8px;
	}
	.text__scale {
		padding-left: 10px;
		color: $text-color;
	}
	._icon-info {
		display: inline;
		font-size: 1rem;
		border-radius: none;
		padding: none;
		background-color: none;
		color: $text-color;
		cursor: pointer;
		flex-direction: none;
		align-items: center;
		text-align: center;
	}
}

.wrapper-info {
	border: 1px solid $border-color;
	color: $text-color;
	border-radius: 10px;
	z-index: 9;
	margin-bottom: 20px;
	position: absolute;
	left: 300px;
	background-color: $secondary-color;
	width: 220px;
	height: 400px;
	text-align: center;
	opacity: 0;
	visibility: hidden;
	transition:
		opacity 0.5s ease,
		visibility 0.5s ease;
	&.active {
		opacity: 1;
		visibility: visible;
	}
	& p {
		font-size: 2rem;
		margin-bottom: 10px;
		border-bottom: 1px $border-color solid;
	}
	.conteiner-info {
		align-items: center;
		flex-direction: column;
		display: flex;
		width: 100%;
		height: 82%;
		position: relative;
		border-radius: 10px;
		& img {
			border-radius: 10px;
			width: 150px;
			height: 150px;
		}
		& div {
			margin: 5px;
			position: relative;
			font-size: 1.4rem;
		}
	}
}
// Price Section
.price {
	position: relative;
	display: flex;
	font-size: 3rem;
	flex-direction: column;
	width: 50%;
	align-items: center;

	.conteiner-price-order {
		background-color: $secondary-color;
		border-radius: 10px;

		width: 50%;
		height: 100%;
		margin-right: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.container__price {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 1px;
		width: 100%;
		justify-content: center;
	}

	.textprice,
	#toyPrice {
		display: inline;
		text-align: center;
		color: $text-color;
		font-weight: bold;
		background-color: transparent;
		border: none;
	}
}
#toyPrice {
	font-size: 2.5rem;
}
.con__order {
	display: flex;
	width: 100%;
	justify-content: center;
}
.order__btn {
	box-shadow:
		0 6px 15px rgba(255, 255, 255, 0.2),
		0 1px 3px rgba(255, 255, 255, 0.12); /* Тінь для 3D ефекту */
	border: 2px rgb(0, 0, 0) solid;
	background-color: $btn-color;
	width: 100%;
	font-size: 2.5rem;
	&:hover {
		background-color: rgb(119, 39, 14);
	}
	&:active {
		transform: translateY(4px); /* Зменшення кнопки вниз, як ефект натискання */
		box-shadow:
			0 4px 10px rgba(0, 0, 0, 0.2),
			0 2px 5px rgba(0, 0, 0, 0.1); /* Тінь зменшується, коли кнопка натискається */
	}
	&.no-active {
		display: none;
	}
}
.processing-price {
	box-shadow:
		0 6px 15px rgba(255, 255, 255, 0.2),
		0 1px 3px rgba(255, 255, 255, 0.12); /* Тінь для 3D ефекту */
	border: 2px rgb(0, 0, 0) solid;
	background-color: $btn-color;
	width: 100%;
	font-size: 2.5rem;
	&:hover {
		background-color: rgb(119, 39, 14);
	}
	&:active {
		transform: translateY(4px); /* Зменшення кнопки вниз, як ефект натискання */
		box-shadow:
			0 4px 10px rgba(0, 0, 0, 0.2),
			0 2px 5px rgba(0, 0, 0, 0.1); /* Тінь зменшується, коли кнопка натискається */
	}
	&.no-active {
		display: none;
	}
}
.add-to-cart {
	width: 100%;
	display: flex;
	font-size: 2.5rem;
	text-align: center;
	box-shadow:
		0 6px 15px rgba(255, 255, 255, 0.2),
		0 1px 3px rgba(255, 255, 255, 0.12); /* Тінь для 3D ефекту */
	border: 2px rgb(0, 0, 0) solid;
	background-color: $btn-color;
	&:hover {
		background-color: rgb(119, 39, 14);
	}

	&.no-active {
		display: none;
	}
}
.go-to-cart {
	align-items: center;
	border-radius: 10px;

	width: 100%;
	position: relative;
	color: $text-color;
	font-size: 1.5rem;
	display: none;

	box-shadow:
		0 6px 15px rgba(255, 255, 255, 0.2),
		0 1px 3px rgba(255, 255, 255, 0.12); /* Тінь для 3D ефекту */
	border: 2px rgb(0, 0, 0) solid;
	background-color: rgb(204, 204, 204);
	&.active {
		display: flex;
		justify-content: center;
	}
	p {
		padding: 20px 0px 20px 0px;
		text-decoration: underline dashed;
		color: rgb(127, 127, 236);
		position: relative;
		cursor: pointer;
		&:hover {
			color: red;
		}
	}

	&.active {
		visibility: visible;
	}
}

// Saved Images
.saved-images {
	background-color: $back-color;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	justify-content: center;
	color: $text-color;
}

.save-text {
	background-color: $back-color;
	color: $text-color;
	font-size: 2rem;
	text-align: center;
	padding: 10px;
	padding-bottom: 20px;
}
#clearCanvas {
	border: 3px solid rgb(0, 0, 0);
	box-shadow:
		0 6px 15px rgba(0, 0, 0, 0.2),
		0 1px 3px rgba(0, 0, 0, 0.12); /* Тінь для 3D ефекту */
	transition: all 0.2s ease-in-out; /* Плавний перехід */
	&:active {
		transform: translateY(4px); /* Зменшення кнопки вниз, як ефект натискання */
		box-shadow:
			0 4px 10px rgba(0, 0, 0, 0.2),
			0 2px 5px rgba(0, 0, 0, 0.1); /* Тінь зменшується, коли кнопка натискається */
	}
}

#savedraw {
	border: 3px solid rgb(0, 0, 0);
	box-shadow:
		0 6px 15px rgba(0, 0, 0, 0.2),
		0 1px 3px rgba(0, 0, 0, 0.12); /* Тінь для 3D ефекту */
	transition: all 0.2s ease-in-out; /* Плавний перехід */
	&:active {
		transform: translateY(4px); /* Зменшення кнопки вниз, як ефект натискання */
		box-shadow:
			0 4px 10px rgba(0, 0, 0, 0.2),
			0 2px 5px rgba(0, 0, 0, 0.1); /* Тінь зменшується, коли кнопка натискається */
	}
}
#newdraw {
	border: 3px solid rgb(0, 0, 0);
	box-shadow:
		0 6px 15px rgba(0, 0, 0, 0.2),
		0 1px 3px rgba(0, 0, 0, 0.12); /* Тінь для 3D ефекту */
	transition: all 0.2s ease-in-out; /* Плавний перехід */
	&:active {
		transform: translateY(4px); /* Зменшення кнопки вниз, як ефект натискання */
		box-shadow:
			0 4px 10px rgba(0, 0, 0, 0.2),
			0 2px 5px rgba(0, 0, 0, 0.1); /* Тінь зменшується, коли кнопка натискається */
	}
}
#saveDrawing {
	border: 3px solid rgb(0, 0, 0);
	box-shadow:
		0 6px 15px rgba(0, 0, 0, 0.2),
		0 1px 3px rgba(0, 0, 0, 0.12); /* Тінь для 3D ефекту */

	&:active {
		transform: translateY(4px); /* Зменшення кнопки вниз, як ефект натискання */
		box-shadow:
			0 4px 10px rgba(0, 0, 0, 0.2),
			0 2px 5px rgba(0, 0, 0, 0.1); /* Тінь зменшується, коли кнопка натискається */
	}
}
.hover-bg {
	z-index: 10;
	background-color: rgb(107, 62, 10) !important;

	transition: all 0.3s ease; /* Гладка анімація */
}
.error-save {
	overflow: hidden;
	white-space: nowrap;
	border-right: 2px solid white;
	font-size: 1.5rem;
	animation:
		typing 1s steps(20) forwards,
		blink 0.7s infinite,
		fadeIn 1s forwards;
}
@keyframes fadeIn {
	from {
		color: white;
	}
	to {
		color: red;
	}
}
@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 200px;
	}
}

@keyframes blink {
	50% {
		border-color: transparent;
	}
}
@keyframes blinkBorder {
	50% {
		border-color: white;
	}
}
